
#container {
    position: relative;
    width: 640px;
    height: 360px;
    margin: auto;
    overflow: hidden;
}

#canvas {

    width: 100%;
    height: 100%;
}

#container:hover > #progress-bar {
    top: 335px;
    transition-delay: 0s;
}

#progress-bar {
    position: absolute;
    top: 360px;
    width: 100%;
    height: 25px;
    background-color: rgba(1,1,1,0.5);
    transition-delay: .3s;
    transition-duration: .2s;
    z-index: 5;
}

#progress {
    width: 0px;
    height: 100%;
    background-color: rgba(172, 49, 49, 0.7);
}

.loading-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(131, 131, 131, 1);
    z-index: 10;
}

.loading-spinner {
    position: absolute;
    width: 64px;
    height: 64px;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}
.loading-spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}